/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

textarea {
    resize: vertical;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Thyssen";
    src: url("../fonts/Thyssen.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Pushster";
    src: url("../fonts/Pushster-Regular.ttf");
}

@font-face {
    font-family: "Miraculous&Christmas";
    src: url("../fonts/Miraculous&Christmas.ttf");
}

@font-face {
    font-family: "AhayHore";
    src: url("../fonts/AhayHore.ttf");
}

@font-face {
    font-family: "Magnolia";
    src: url("../fonts/Magnolia.ttf");
}

@font-face {
    font-family: "Shopie";
    src: url("../fonts/Shopie.otf");
}

@font-face {
    font-family: "SweetHoliday";
    src: url("../fonts/SweetHoliday.ttf");
}

.reveal {
    opacity: 0 !important;
    -webkit-transform: scale3d(0, 0, 0) !important;
    transform: scale3d(0, 0, 0) !important;
}

.reveal__visible {
    opacity: 1 !important;
    -webkit-transform: scale3d(1, 1, 1) !important;
    transform: scale3d(1, 1, 1) !important;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

html {
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    position: relative;
    height: 100vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    color: #FFFFFF;
    background: red;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    position: relative;
}

.animation-welcome-hide {
    display: none !important;
}

.animation-welcome {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #000;
    height: 100%;
    width: 100%;
    z-index: 550;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.animation-welcome span {
    background: -webkit-linear-gradient(90deg, #b43a3a 49%, #fc7345 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Righteous", cursive;
    text-shadow: rgba(196, 133, 25, 0.5) 0px 0px 24px;
    font-size: 3rem;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: "";
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: rotation 2s ease-in-out infinite;
    animation: rotation 2s ease-in-out infinite;
}

.loader::after {
    border-color: #b43a3a;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.left-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 25px;
    padding: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    background: #FFFFFF;
    height: auto;
}

.left-menu h1 {
    font-family: "Righteous", cursive;
    font-size: 3rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(90deg, #b43a3a 49%, #fc7345 98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align: center;
}

.left-menu p {
    font-family: "Righteous", cursive;
    font-size: 1.4rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.right-menu {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    background: #b43a3a;
    background: -webkit-gradient(linear, left top, right top, color-stop(49%, #b43a3a), color-stop(98%, #fc7345));
    background: -o-linear-gradient(left, #b43a3a 49%, #fc7345 98%);
    background: linear-gradient(90deg, #b43a3a 49%, #fc7345 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b43a3a", endColorstr="#fc7345", GradientType=1);
}

.right-menu h2 {
    font-family: "Righteous", cursive;
    color: #FFFFFF;
    font-size: 2rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 25px;
}

.right-menu h3 {
    font-family: "Righteous", cursive;
    font-size: 2rem;
    text-align: center;
    color: #FFFFFF;
}

.countown-container {
    -ms-grid-row-align: stretch;
    align-self: stretch;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    height: 100px;
    border-radius: 0.8rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0.3)));
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.3));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.3));
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.countown-container .box-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    grid-row-gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.countown-container .box-content .value {
    font-family: "Righteous", cursive;
    font-size: 2rem;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.countown-container .box-content .label {
    font-family: "Righteous", cursive;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

#last {
    border: none !important;
}

.contact-link {
    justify-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-row-gap: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
}

.social-media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-top: 25px;
}

.social-media-container .link-social_media {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding: 8px;
    border-radius: 50%;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.social-media-container .link-social_media:hover {
    opacity: 0.8;
}

.social-media-container .link-social_media svg {
    height: 1.2rem;
    width: 1.2rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
}

.social-media-container .link-social_media svg * {
    fill: #151E40;
}

.signature {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
    color: white;
    font-family: "Righteous", cursive;
    margin-top: 10px;
}

.signature a {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    color: white;
    opacity: 0.8;
}

@media only screen and (max-width: 1000px) {
    .container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        height: 100vh;
    }
}

@media only screen and (max-width: 520px) {
    .container {
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    .countown-container .box-content .value {
        font-size: 1.7rem;
    }

    .countown-container .box-content .label {
        font-size: 0.8rem;
    }
}
